<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand"
            ><b><strong>JHN-Blog</strong></b>
        </span>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/post/all-post">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/post/create-post">New Post</a>
                </li>

                <%if(!user) {%>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/register">Signup</a>
                </li>
                <%} else{%>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
                <% } %>
            </ul>
            <form action="/post/search" class="d-flex" method="GET">
                <input
                    class="form-control me-2"
                    type="search"
                    name="q"
                    placeholder="Search"
                    aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<script src="/scripts/jquery/jquery-3.6.0.min.js"></script>
<script src="/scripts/activeClass.js"></script>
